{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% include "includes/head.html" %}
  {% block extrastyle %}{% endblock extrastyle %}

</head>

<body class="bg-gray-50 dark:bg-gray-800">

  {% block messages %}{% endblock messages %}


  <div class="flex  overflow-hidden bg-gray-50 dark:bg-gray-900">

    <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50  dark:bg-gray-900">
      {% block content %}{% endblock content %}
      {% block footer %}
      {% endblock footer %}
      

    </div>
  </div>


  {% include "includes/scripts.html" %}
  {% block extra_js %}{% endblock extra_js %}

</body>

</html>