{% extends "layouts/base.html" %}
{% load static %}
{% load color_tags %}
{% comment %} {% block extrastyle %}

{% endblock extrastyle %}

{% endcomment %}

{% block content %}

<script src="{% static 'dist/jquery-3.7.1.min.js' %}"></script>
<!-- <script defer src="{% static 'dist/jquery.dataTables.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'dist/jquery.dataTables.min.css' %}" /> -->

<link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/date-1.5.1/r-2.5.0/rr-1.4.1/sl-1.7.0/datatables.min.css" rel="stylesheet">
 
<script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/date-1.5.1/r-2.5.0/rr-1.4.1/sl-1.7.0/datatables.min.js"></script>

<main>

  
    <div id="app">
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden shadow">

                      
                        <table id="dataTable"
                            class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                            
                            <thead class="">
                                <tr>
                                    <th scope="col"
                                        class="w-2  text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">

                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                    </th>

                                </tr>
                                
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                                
                                    
                                {% for kwiat in dane %}
                                <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <td
                                        class="p-4  text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        <div class="text-base font-semibold text-gray-900 dark:text-white hidden">{{ kwiat }}</div>
                                    </td>
                                    <td
                                        class="max-w-sm p-4 text-base font-normal text-gray-500 xl:max-w-xs dark:text-gray-400">
                                        <div
                                            class="flex  flex-row justify-center px-2 py-1 mr-6 text-white pt-3 text-center bg-gray-500 text-xl font-semibold">
                                            {{ kwiat }}</div>
                                        {% for rodzaj, kolory in dane|get_item:kwiat|items %}
                                        {% if rodzaj == "notatka" %}
                                        <div
                                            class="flex flex-row justify-center px-2 py-1 mr-6 text-black text-center bg-gray-500 text-md ">
                                            {{ kolory }}</div>
                                        {% else %}
                                        {% endif %}
                                        {% endfor %}

                                        <div class="flex flex-row mr-6">

                                            {% for rodzaj, kolory in dane|get_item:kwiat|items %}
                                            {% if rodzaj != "notatka" %}
                                        
                                            <div class="grow   border-2 pb-4 border-[#6b7280] ">
                                                <p class="font-bold text-xl text-center py-2 dark:text-white">{{rodzaj}}</p>
                                        
                                                <div class="flex justify-center flex-wrap">
                                                    {% for kolor, value in dane|get_item:kwiat|get_item:rodzaj|items %}
                                                    {% if value == 0 or value == -1 %}
                                                    <button type="button" {% if 'tla' in kolor_hex|get_item:kolor %}
                                                        style="background-image: url('{{kolor_hex|get_item:kolor}}');" {% else %} style="background-color: {{kolor_hex|get_item:kolor}};" {% endif %}
                                                        class="relative inline-flex items-center px-3 mx-1 py-1  text-sm font-bold text-center text-black  rounded-lg hover:bg-green-800 focus:ring-4 ">
                                                        {{ kolor }}
                                                        <span class="sr-only">Notifications</span>
                                                        <div
                                                            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
                                                            {{value}}</div>
                                                    </button>
                                                    {% else %}
                                                    <button type="button" {% if 'tla' in kolor_hex|get_item:kolor %}
                                                        style="background-image: url('{{kolor_hex|get_item:kolor}}');" {% else %} style="background-color: {{kolor_hex|get_item:kolor}};" {% endif %}
                                                        class="relative inline-flex items-center px-3 mx-1 py-1 text-sm font-bold text-center text-black  rounded-lg focus:ring-4 focus:outline-none">
                                                        {{ kolor }}
                                                        <span class="sr-only">Notifications</span>
                                                        <div
                                                            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-green-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
                                                            {{ value }}</div>
                                                    </button>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        

                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>






                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<style>
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
        color: white;
    }

    .dataTables_wrapper div.dataTables_filter input {
        width: 50%;
    }
 
</style>

<script defer>

    $(document).ready(function () {
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {

                // Get the search input value
                let search = $('.dataTables_filter input').val();
                if (search === undefined) {
                    search = '';
                }

                if (search === '') {
                    return true;
                }

                let re = new RegExp('^' + search, 'i');

                // Look through each column to find a match
                for (i = 0; i < data.length; i++) {
                    // If any column matches then show row
                    if (re.test(data[i])) {
                        return true;
                    }
                }
                return false;
            });


        // $('input[type = search]').attr('dir', 'left');
        var table = $('#dataTable').DataTable({
            info: false,
            // ordering: false,
            // dom: 'Bfrtip',
            // buttons: [
           
            // ],
            language: {
                search: "",
                searchPlaceholder: "Szukaj kwiatu lub rodzaju"
            },
            paging: false,
            initComplete: function () {
                // $('.dt-buttons').removeClass('btn-group');
                // $('.dataTables_filter').children().appendTo('#mytable_length');
                // $("label").attr("id", function (arr) {
                //     return "button_size" + arr;
                // });
            },
            columnDefs: [{
                searchable: false,
            }],
            dom: 'Blfrtip',
            "ordering": false,

            buttons: [
                {
                    {% if tylko_do_kupienia %}
                    
                    text: 'wszystkie',
                    {% else %}
                    text: 'tylko do kupienia',
                    
                    {% endif %}

                    className: 'text-white ml-10 mt-4 text-center justify-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800', 
                    action: function (e, dt, node, config) {
                        // Replace 'http://example.com' with the URL you want to redirect to
                        {% if tylko_do_kupienia %}
                        window.location.href = "{% url 'czytaj_raport' raport.id %}";

                        {% else %}
                        window.location.href = "{% url 'czytaj_raport_do_kupienia' raport.id %}";
                        
                        {% endif %}
                        
                    }
                },
                // {
                //     extend: 'excelHtml5',
                //     exportOptions: {
                //         columns: [5, 4, 3, 2, 0]
                //     }
                // },
                // {
                //     extend: 'pdfHtml5',
                //     exportOptions: {
                //         columns: [5, 4, 3, 2, 0]
                //     },
                //     customize: function (doc) {
                //         doc.content[1].alignment = 'right';
                //     },
                // },
            ],
            // "pagingType": "full_numbers",

        });
        $('.dataTables_wrapper .dataTables_filter').addClass('pt-5')

        // $('.dataTables_filter input').off();

        $('input[type = search]').on('keyup', function (e) {
            table.draw();
        });
        table.buttons().nodes().removeClass('dt-button');

    });

    // $(document).ready( function () {
    //     var table = $('#dataTable').DataTable({
    //       info: false,
    //       ordering: false,

    //       language: { 
    //         search: "",
    //         searchPlaceholder: "Szukaj kwiatu lub rodzaju"
    //       },
    //       paging: false
    //     });
    //     $('.dataTables_wrapper .dataTables_filter').addClass('py-5')
    // } );
</script>
{% endblock content %}

{% comment %} {% block extra_js %}


{% endcomment %}