{% extends "layouts/base_raport.html" %}
{% load static %}
{% load color_tags %}

{% comment %} {% block extrastyle %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.tailwindcss.min.css">
{% endblock extrastyle %} 

{% endcomment %}

{% block content %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<main>
  <div id="app">
    <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
         <ul class="space-y-2 font-medium">
            {% for kwiat in kwiaty %}
            <li class="-mb-px  last:mr-0 flex-auto text-center">
              <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" @click="toggleTabs({{forloop.counter}})" :class="{'text-pink-600 bg-white': openTab !== {{forloop.counter}}, 'text-white bg-pink-600': openTab === {{forloop.counter}}}">
                {{kwiat.name}}
              </a>
            </li>
            {% endfor %}
         </ul>
      </div>
   </aside>

  <div class="flex flex-col pt-6">
    
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden shadow container mx-auto ">
            <div class="flex flex-wrap">
              <div class="w-full">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                  <div class=" py-5 flex-auto">
                    <div class="tab-content tab-space">

                      {% for kwiat in kwiaty %}
                      <div :class="{'hidden': openTab !== {{forloop.counter}}, 'block': openTab === {{forloop.counter}}}">
                        <p class="text-center text-2xl pb-8">
                            Czy chcesz {{kwiat.name}}? - v-bind rodzaj kwiatu
                        </p>
                        <div class="flex justify-center items-stretch ">
                          <div>
                            <button @click="chceKwiat({{forloop.counter}})" type="button" class="px-14 py-14 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Chce</button>
                          </div>
                          
                          <div>
                            <button type="button" id="" @click="openTab++" class="px-14 py-14 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Nie chce</button>
                          </div>
                        </div>

                        <div id='kwiatydiv-{{forloop.counter}}' class="hidden">
                          {% for kat_kol in kwiat.kategorie_i_kolory_list %}
                          <p class="font-bold text-xl text-center py-2 ">{{kat_kol.nazwa}}</p>
                          <ul>
                            {% for kolor in kat_kol.kolory %}
                            <li class="pl-2 text-center text-black font-bold" style="background-color: {{kolor_hex|get_item:kolor}};">{{kolor}}
                              <input type="number"/>
                              <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">5</button>
                              <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">10</button>
                              <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">25</button>
                            </li>
                            
                            {% endfor %}
                          </ul>
                          {% endfor %}
                        </div>
                      
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>

</main>

<script defer>
  const { createApp, ref, reactive, computed } = Vue

  createApp({
    setup() {
      var openTab = ref(1);
      function toggleTabs(tabNumber){
        openTab.value = tabNumber;
      }
   
      function chceKwiat(kwiatID){
        // pokaz nastepny rodzaj na froncie
        console.log(kwiatID)
        document.getElementById('kwiatydiv-'+kwiatID).classList.remove("hidden")
        // remove class hidden kwiatydiv-kwiatID
        // openTab.value = tabNumber;
      }
      return {
        openTab,
        chceKwiat,
        toggleTabs
      }
    }
  }).mount('#app')
</script>

{% endblock content %}

{% comment %} {% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.tailwindcss.min.js"></script>
<script src="https://cdn.tailwindcss.com/3.3.3"></script>
<script src="https://preline.co/assets/vendor/preline/preline.js"></script>

{% endcomment %}